:root {
  /* ==========================
     NEUTRALS
  ========================== */

  --white: #ffffff;
  --black: #000000;

  /* ==========================
     PURPLE
  ========================== */

  --purple-950: #17062a;
  --purple-900: #1e0936;
  --purple-850: #331c4d;
  --purple-800: #56077c;
  --purple-700: #6c34ac;
  --purple-650: #8631af;

  /* ==========================
     NAVY
  ========================== */

  --navy-950: #181f33;
  --navy-900: #242d44;
  --navy-850: #3a4663;
  --navy-750: #434a59;
  --navy-700: #647198;
  --navy-400: #a2b2e1;

  /* ==========================
     GRAYS
  ========================== */

  --gray-900: #36362c;
  --gray-300: #d2cdcd;
  --gray-200: #e6e6e6;
  --gray-100: #eeeeee;

  /* ==========================
     BLUE
  ========================== */

  --blue-950: #1a2327;
  --blue-500: #378187;
  --blue-400: #62b5bc;

  /* ==========================
     RED
  ========================== */

  --red-600: #d03f2f;
  --red-400: #f96b5b;

  /* ==========================
     ORANGE
  ========================== */

  --orange-700: #cb5402;
  --orange-400: #ff8a38;

  /* ==========================
     CYAN
  ========================== */

  --cyan-500: #00ded0;
  --cyan-200: #93fffb;

  /* ==========================
     YELLOW
  ========================== */

  --yellow-300: #ffe53d;

  /* ==========================
     SPACING
  ========================== */
  --spacing-0: 0px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
}

/* theme */
body[data-theme="1"] {
  --bg-color: var(--navy-850);
  --keypad-bg: var(--navy-900);
  --screen-bg: var(--navy-950);
  --key-bg: var(--gray-200);
  --key-text: var(--navy-750);
  --key-shadow: #B3A497;        
  --key-secondary-bg: var(--navy-700);
  --key-secondary-shadow: #414e73;
  --key-secondary-text: var(--white);
  --key-equals-bg: var(--red-600);
  --key-equals-shadow: #93261A;
  --key-equals-text: var(--white);
  --toggle-circle-bg: var(--red-600);
  --heading-text: var(--white);
  --toggle-track-bg: var(--navy-900);
}

body[data-theme="2"] {
  --bg-color: var(--white);
  --keypad-bg: var(--gray-300);
  --screen-bg: var(--gray-100);
  --key-bg: var(--gray-200);
  --key-text: var(--gray-900);
  --key-shadow: #A79E91;
  --key-secondary-bg: var(--blue-500);
  --key-secondary-shadow: #1B6066;
  --key-equals-bg: var(--orange-700);
  --key-equals-shadow: #873901;
  --key-equals-text: var(--white);
  --key-secondary-text: var(--white);
  --toggle-circle-bg: var(--orange-700);
  --heading-text: var(--gray-900);
  --toggle-track-bg: var(--gray-300);
}

body[data-theme="3"] {
  --bg-color: var(--purple-950);
  --keypad-bg: var(--purple-900);
  --screen-bg: var(--purple-900);
  --key-bg: var(--purple-850);
  --key-text: var(--yellow-300);
  --key-shadow: #881C9E;
  --key-secondary-bg: var(--purple-800);
  --key-secondary-shadow: #881C9E;
  --key-equals-bg: var(--cyan-500);
  --key-secondary-text: var(--white);
  --key-equals-text: var(--black);
  --key-equals-shadow: #6CF9F1;
  --toggle-circle-bg: var(--cyan-500);
  --heading-text: var(--yellow-300);
  --toggle-track-bg: var(--purple-900);
}

/* ==========================
   CSS RESET
========================== */

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }



    button,
    input,
    textarea,
    select {
        font: inherit;
    }

    button {
        cursor: pointer;
        border: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    ul,
    ol {
        list-style: none;
    }



body {
  background-color: var(--bg-color);
  color: var(--heading-text);
  margin: 0;
  padding: 0;
}

main {
  margin: var(--spacing-4) var(--spacing-3);
  max-width: 540px;
}

@media (min-width: 768px) {
  main {
    margin: 48px auto 0 auto;
  }
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--heading-text);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.5px;
}

.theme-container {
  display: flex;
  align-items: center;
  position: relative;
}

.theme-container p {
   font-size: 12px;
   font-weight: bold;
   letter-spacing: 1px;
   color: var(--heading-text);
   margin-top: var(--spacing-2);
}

.toggle-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-left: var(--spacing-1);
}

.toggle-circle-container {
    position: relative;
    height: 26px;
    width: 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    background-color: var(--toggle-track-bg);
}

.toggle-circle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--toggle-circle-bg);
    border-radius: 50%;
    margin-left: 4px;
    transition: transform 0.2s ease, background-color 0.2s ease;

}
.toggle-circle.pos-1 { transform: translateX(0px); }
.toggle-circle.pos-2 { transform: translateX(15px); }
.toggle-circle.pos-3 { transform: translateX(30px); }


.number-toggles {
    color: var(--heading-text);
    display: flex;
    gap: 6px;
    font-weight: bold;
    font-size: 12px;
}

.number-toggles span {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.number-toggles span.active {
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 100%;
  height: 128px;
  margin: var(--spacing-3) 0;
}

.display-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-4);
  background-color: var(--screen-bg);
  padding: var(--spacing-2);
  border-radius: var(--spacing-1);
  text-align: center;
}

.display p {
  font-weight: bold;
  margin-left: auto;
  width: fit-content;
  color: var(--heading-text);
  font-size: 56px;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .display p {
    padding-right: var(--spacing-4);
  }
}


.buttons {
  display: flex;
  width: 100%;
  border-radius: var(--spacing-1);
  flex-direction: column;
  background-color: var(--keypad-bg);
  padding: 0 var(--spacing-2);
}

.btn-inputs {
  display: grid;
  column-gap: var(--spacing-2);
  row-gap: var(--spacing-2);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  padding: var(--spacing-2) 0;
}

@media (min-width: 768px) {
  .btn-inputs,
  .button-row {
    max-width: 476px;
    margin: 0 auto;
  }
}

.button,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.5px;
  border-radius: var(--spacing-1);
}

.button {
  width: 60px;
  height: 64px;
  background-color: var(--key-bg);
  border: none;
  box-shadow: inset 0px -4px var(--key-shadow);
  padding: var(--spacing-2);
  font-size: 32px;
  font-weight: bold;
  color: var(--key-text);
  cursor: pointer;

}

@media (min-width: 768px) {
  .button {
    width: 101px;
  }
}

.DEL {
  background-color: var(--key-secondary-bg);
  font-size: 20px;
  letter-spacing: -0.3px;
  box-shadow: inset 0px -4px var(--key-secondary-shadow);
  color: var(--key-secondary-text);
}

.button-row {
  display: grid;
  place-items: center;
  padding-bottom: var(--spacing-2);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-2);
}

.btn {
  height: 64px;
  width: 100%;
  color: var(--key-secondary-text);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.3px;
}

@media (min-width: 768px) {
  .btn {
    width: 218px;
  }
}

.reset{
  background-color: var(--key-secondary-bg);
  box-shadow: inset 0px -4px var(--key-secondary-shadow);
}

.reset:active,
.DEL:active {
  transform: translateY(2px);
   box-shadow: inset 0px -2px var(--key-secondary-shadow); 
   opacity: 0.8;
}

.equal {
  color: var(--key-equals-text);
  background-color: var(--key-equals-bg);
  box-shadow: inset 0px -4px var(--key-equals-shadow);
}

.equal:active {
  transform: translateY(2px);
   box-shadow: inset 0px -2px var(--key-equals-shadow); 
   opacity: 0.8;
}

button {
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

button:active {
  transform: translateY(2px);
   box-shadow: inset 0px -2px var(--key-shadow); 
   opacity: 0.8;
}



