@font-face {
    font-family: "Inter";
    src: url("fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf")format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: "Martiana Mono";
    src: url("fonts/martian-mono/static/MartianMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "Martiana Mono";
    src: url("fonts/martian-mono/static/MartianMono-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Martiana Mono";
    src: url("fonts/martian-mono/static/MartianMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-size: normal;
}
/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* smoother text on Mac/iOS */
}

/* Make images and media responsive */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form styles */
input, button, textarea, select {
  font: inherit;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}


body {
    min-width: 343px;
    padding: 16px;
    background: linear-gradient(90deg, #FFE2D1 0%,#FFF5EF 100%);
}

.logo {
    width: 193px;
    height: 40px;
    margin-top: 24px;
}
/* Inro section */
 .gradient-text {
    font-family: "Martiana Mono";
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: -2px;
    margin-top: 48px;
    background: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.intro-p {
    font-family: "Inter";
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    margin-top: 24px;
    color: #385159;
}

.review-opt {
    border: 3px solid #062630;
    display: flex;
    gap: 16px;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    padding-left: 23px;
    margin-top: 32px;
   
}

.review-opt p {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -1px;
    font-family: "Martiana Mono";
    font-weight: 600;
     color: #062630;
}
.dev-avatars {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-top: 20px;
}

.avatars {
   width: 30%;
}

.star-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.star-reviews  {
   display: flex;
   margin-top: 4px;
}

.star-reviews img {
   width: 24px;
   height: 24px;
}

.dev-avatars p {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    font-family: "Martiana Mono";
    font-weight: normal;
    margin-top: 0px;
    color: #385159;
}

.hero-image {
    margin-top: 64px;
    margin-bottom: 80px;
}

/* read together section */
.read-together {
   margin-top: 144px;
 
}
.read-together h2 {
   font-size: 34px;
   letter-spacing: -2px;
   line-height: 130%;
   font-family: "Martiana Mono";
   font-weight: 600;
   margin-bottom: 24px;
   color: #062630;
}
.list-benefits {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    column-gap: 14px;
    color: #385159;
}

.list-benefits img {
    height: 24px;
    width: 24px;
}

.list-benefits p {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-family: "Inter";
    font-style: normal;
}

.list-benefits.four {
  margin-bottom: 3rem;
}
/* community section */
.community {
  margin-top: 4rem;
  position: relative;
  margin-bottom: 4rem;
}

.community h2 {
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  font-family: "Martiana Mono";
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 24px;
  color: #062630;
}

.community .circle {
  position: absolute;
  top: 58px;
  left: -8px;
  width: 25%;
}

.community p {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-family: "Inter";
  font-weight: normal;
  padding-bottom: 40px;
  color: #385159;
}

.community span {
  font-family: "Inter";
  font-weight: bold;
}
/* journey section */
.journey h2{
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  font-family: "Martiana Mono";
  font-weight: 600;
  margin-bottom: 2rem;
  color: #062630;
}

.checkbox {
  border: 2px solid #062630;
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  font-size: 16px;
  color: #062630;
  line-height: 130%;
  letter-spacing: -1px;
  font-family: "Martiana mono";
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1px;
  font-family: "Martiana mono";
  font-weight: 600;
  color: #062630;
  padding: 2rem 0px;
}
/* Membership options */
.membership {
  color: #062630;
  margin-top: 64px;
}

.membership h2 {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -2px;
    font-family: "Martiana mono";
    font-weight: 600;
    margin-bottom: 2rem;
}

.membership h3 {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -1px;
    font-family: "Martiana mono";
    font-weight: 600;
    margin: 24px 0px;
   
}

.membership  p {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -1px;
    font-family: "Martiana mono";
    font-weight: 600;
}

.membership span{
   font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-family: "Inter";
    font-weight: normal;
    color: #385159;
}

.package {
  display: flex;
  margin-bottom: 16px;
  column-gap: 12px;
  padding-top: 1rem;
}

.options {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.package p {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-family: "Inter";
    font-weight: normal;
    color: #385159;
}

.starter,
.pro,
.enterprise {
  border: 1px solid #e6e1df;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.linebreak {
  background: #e6e1df;
  height: 1px;
  margin: 24px 0px;
}

.membership button {
  padding: 20px 79px;
  border-radius: 8px;
  background: #FFF5EF;
  cursor: pointer;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1px;
  font-family: "Martiana Mono";
  font-weight: 600;
}

/* Review section */
.review {
  margin-top: 64px;
}

.review p {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -1px;
  font-family: "Martiana Mono";
  font-weight: 600;
  padding-top: 32px;
}

.review p:last-of-type {
   font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-family: "Inter";
  font-weight: normal;
  color: #385159;
}