@font-face {
    font-family: "Inter";
    src: url("fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf")format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: "Martiana Mono";
    src: url("fonts/martian-mono/static/MartianMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "Martiana Mono";
    src: url("fonts/martian-mono/static/MartianMono-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Martiana Mono";
    src: url("fonts/martian-mono/static/MartianMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-size: normal;
}
/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}



/* Make images and media responsive */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


/* Remove built-in form styles */
input, button, textarea, select {
  font: inherit;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #FFF5EF;
}

main {
   min-width: 343px;
   padding: 16px;
}


@media  (min-width: 768px) {
  main {
    max-width: 100%;
    padding: 32px;
  }

@media (min-width: 1024px) {
    main {
      max-width: 100%;
      padding: 0px 135px;
    }
  }
}
.logo {
    width: 193px;
    height: 40px;
    margin-top: 24px;
    margin-left: 16px;
}

@media (min-width: 768px) {
  .logo {
    margin-left: 32px;
  }
}

  @media (min-width: 1024px) {
    .logo {
      margin-left: 135px;
  }
  
}
/* Inro section */
 .gradient-text {
    font-family: "Martiana Mono";
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: -2px;
    margin-top: 48px;
    background: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


@media (min-width: 768px) {
  .gradient-text {
    font-size: 62px;
  }
}

.intro-p {
    font-family: "Inter";
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    margin-top: 24px;
    color: #385159;
}

.review-opt {
    border: 2px solid #062630;
    display: flex;
    column-gap: 16px;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 22px;
    align-items: center;
    margin-top: 32px;
    width: 100%;
}

@media (min-width: 768px) {
  .review-opt {
    width: fit-content;
    margin-bottom: 20px;
  }
}

.review-opt p {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -1px;
    font-family: "Martiana Mono";
    font-weight: 600;
    color: #062630;
}
@media (min-width: 768px) {
  .review-opt p {
    font-size: 18px;
  }
}


.avatars {
   width: 30%;
}

@media (min-width: 768px) {
  .avatars {
    width: 20%;
  }
  
}

.star-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.star-reviews  {
   display: flex;
   margin-top: 4px;
}

.star-reviews img {
   width: 24px;
   height: 24px;
}

.dev-avatars p {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    font-family: "Martiana Mono";
    font-weight: normal;
    margin-top: 0px;
    color: #385159;
}

@media (min-width: 768px) {
  .dev-avatars {
    display: flex;
    gap: 20px;
  }
  
}

.hero-image {
    margin-top: 64px;
    margin-bottom: 80px;
    border-radius: 8px;
}

@media (min-width: 1024px) {
  .hero-image {
    width: 540px;
    height: 606px;
    margin: 0px;
  } 
}

@media (min-width: 1024px) {
  .hero-image-container {
    flex-shrink: 0; 
  } 
}
@media (min-width: 1024px) {
  .intro {
      display: flex;
      column-gap: 64px;
      align-items: center;
      width: fit-content;
      margin: 80px auto;
  }
}


@media (min-width: 1024px) {
  .intro-container {
   width: 570px;
   flex-shrink: 0;
  }
}
/* read together section */
.read-together {
   margin-top: 144px;
}
.read-together h2 {
   font-size: 34px;
   letter-spacing: -2px;
   line-height: 130%;
   font-family: "Martiana Mono";
   font-weight: 600;
   margin-bottom: 24px;
   color: #062630;
}

@media (min-width: 768px) {
  .read-together h2 {
    font-size: 50px;
    margin-bottom: 34px;
  }
  
}
.list-benefits {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    column-gap: 14px;
    color: #385159;
}

@media (min-width: 768px) {
  .list-benefits {
    margin-bottom: 24px;
  }
  
}
.list-benefits img {
    height: 24px;
    width: 24px;
}

.list-benefits p {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-family: "Inter";
    font-style: normal;
}

.list-benefits.four {
  margin-bottom: 3rem;
}

.read-together-image {
  border-radius: 8px;
}

  .read-together-image {
    width: 100%;
  }

@media (min-width: 1024px) {
  .read-together {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 1170px;
    gap: 80px;
    margin:120px auto;
  }

  @media (min-width: 1024px) {
    .read-together-image {
     width: 560px;
     height: 520px;
    }
  }

  @media (min-width: 1024px) {
    .read-image-container {
     flex-shrink: 0;
    }
  }

  .list-benefits {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
    margin-bottom: 0px;
  }

  @media (min-width: 1024px) {
    .list-benefits {
      flex-direction: row;
      margin-bottom: 24px;
    }
  }
  
}
/* community section */
.community {
  margin-top: 4rem;
  position: relative;
  margin-bottom: 4rem;
}

@media (min-width: 1024px) {
  .community {
    display: flex;
    align-items: center;
    gap: 80px;
    width: fit-content;
    margin: 0px auto;
    margin-bottom: 120px;
  }
  
}
.community h2 {
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  font-family: "Martiana Mono";
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 24px;
  color: #062630;
}

@media (min-width: 768px) {
  .community h2 {
    font-size: 50px;
    width: 534px;
  }
  
}
.community .circle {
  position: absolute;
  top: 58px;
  left: -8px;
  width: 25%;
}

@media (min-width: 768px) {
  .community .circle {
    width: 23%;
    top: 80px;
    left: 150px;
  }
  
}
@media (min-width: 1024px) {
  .community .circle {
    width: 14%;
    top: 195px;
    left: 142px;
  }
  
}
.community p {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-family: "Inter";
  font-weight: normal;
  padding-bottom: 40px;
  color: #385159;
}

.community span {
  font-family: "Inter";
  font-weight: bold;
}

.link-ups {
  display: none;
}
@media (min-width: 768px) {
  .link-ups {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  
}

@media (min-width: 1024px) {
  .link-ups {
    bottom: 50px;
    right: 44%;
  }
  
}
.community-image {
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .community-text {
    flex-shrink: 0;
    width: 530px;
  }
  
}
@media (min-width: 1024px) {
  .community-image-container {
    flex-shrink: 0;
  }
  
}
@media (min-width: 1024px) {
  .community-image {
    width: 560px;
    height: 520px;
  }
  
}
/* journey section */

.journey {
  padding: 64px 16px;
  background-image: url("images/pattern-light-bg.svg");
}

@media (min-width: 768px) {
  .journey {
    padding: 80px 32px;
  }
  
}
.journey h2{
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  font-family: "Martiana Mono";
  font-weight: 600;
  margin-bottom: 2rem;
  color: #062630;
}

@media (min-width: 768px) {
  .journey h2 {
    font-size: 50px;
  }
  
}
.checkbox {
  border: 2px solid #062630;
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  font-size: 16px;
  color: #062630;
  line-height: 130%;
  letter-spacing: -1px;
  font-family: "Martiana mono";
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1px;
  font-family: "Martiana mono";
  font-weight: 600;
  color: #062630;
  padding: 20px 0px;
}

@media (min-width: 768px) {
  .list {
    font-size: 18px;
    padding: 24px 0px;
  }
  
}
/* Membership options */
.membership {
  color: #062630;
  margin-top: 64px;
}

.membership h2 {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -2px;
    font-family: "Martiana mono";
    font-weight: 600;
    margin-bottom: 2rem;
}

.membership h3 {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -1px;
    font-family: "Martiana mono";
    font-weight: 600;
    margin: 24px 0px;
   
}

.membership  p {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -1px;
    font-family: "Martiana mono";
    font-weight: 600;
}

.membership span{
   font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-family: "Inter";
    font-weight: normal;
    color: #385159;
}

.package {
  display: flex;
  margin-bottom: 16px;
  column-gap: 12px;
  padding-top: 1rem;
}

.options {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.package p {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-family: "Inter";
    font-weight: normal;
    color: #385159;
}

.starter,
.pro,
.enterprise {
  border: 1px solid #e6e1df;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.pro {
  background-image: url("images/pattern-glow.svg");
}
.linebreak {
  background: #e6e1df;
  height: 1px;
  margin: 24px 0px;
}

.membership button {
  padding: 20px 79px;
  border-radius: 8px;
  background: #FFF5EF;
  cursor: pointer;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1px;
  font-family: "Martiana Mono";
  font-weight: 600;
}

/* Review section */
.review {
  margin: 64px 0px;
}

.review p {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -1px;
  font-family: "Martiana Mono";
  font-weight: 600;
  padding-top: 32px;
}

.review p:last-of-type {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-family: "Inter";
  font-weight: normal;
  color: #385159;
}

footer {
 background-color: #062630;
 border-radius: 8px;
 padding: 0px 16px;
 background-image: url("images/pattern-dark-bg.svg");
}

.footer h2{
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  font-family: "Martiana Mono";
  font-weight: 600;
  color: #ffffff;
  padding-top: 48px;
  text-align: center;
  padding-bottom: 40px;
}

footer .review-opt {
  color: #ffffff;
  border:2px solid #ffffff;
 margin-bottom: 24px;
}

footer .review-opt p {
  color: #ffffff;
}

footer .review-opt img {
  color: #ffffff;
}

footer .dev-avatars p {
  color: #ffffff;
 
}

footer .dev-avatars {
   margin-bottom: 64px;
}

.bt-footer {
  color: #ffffff;
  text-align: center;
   font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  font-family: "Martiana Mono";
  font-weight: normal;
}

footer .linebreak {
  background: #385159;
}
.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding: 24px;
  column-gap: 24px;
}
