:root {
  /* Neutral */
  --neutral-950: #000000;
  --neutral-0: #FFFFFF;

  /* Slate */
  --slate-950: #0B1524;
  --slate-600: #243041;

  /* Blue */
  --blue-600: #2463FF;
  --blue-500: #5B8AFF;

  /* Indigo */
  --indigo-600: #261676;
  --indigo-400: #887DC0;

  /* Gradients */
  --gradient-1: linear-gradient(180deg, #344ABA 0%, rgba(0, 20, 121, 0.80) 100%);
  --gradient-2: linear-gradient(180deg, #67B6FF -7%, #FFFFFF 108%);
  --gradient-3: linear-gradient(180deg, #FE71FE 16%, #7199FF 100%);
  --gradient-4: linear-gradient(180deg, #FF95FF 0%, #A3AEFF 100%);
  --gradient-5: linear-gradient(180deg, #1A043A 0%, #151278 70%, #2B1677 100%);

  /* Spacing */
  --spacing-0: 0;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-50: 50px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;

  /* Radius */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-48: 48px;
  --radius-72: 72px;
  --radius-96: 96px;
  --radius-full: 999px;

  /* Typography */
  --font-family-base: 'Mouse Memoirs', sans-serif;
  --line-height-base: 120%;
 
  /* Text Preset 1 */
  --text-preset-1-font-size: 136px;
  --text-preset-1-letter-spacing: -1px;
 
  /* Text Preset 2 */
  --text-preset-2-font-size: 104px;
  --text-preset-2-letter-spacing: -1px;
 
  /* Text Preset 3 */
  --text-preset-3-font-size: 94px;
  --text-preset-3-letter-spacing: -1px;
 
  /* Text Preset 4 */
  --text-preset-4-font-size: 88px;
  --text-preset-4-letter-spacing: 0px;
 
  /* Text Preset 5 */
  --text-preset-5-font-size: 64px;
  --text-preset-5-letter-spacing: 2.5px;
 
  /* Text Preset 6 */
  --text-preset-6-font-size: 48px;
  --text-preset-6-letter-spacing: 2.5px;
 
  /* Text Preset 7 */
  --text-preset-7-font-size: 40px;
  --text-preset-7-letter-spacing: 1.75px;
 
  /* Text Preset 8 */
  --text-preset-8-font-size: 32px;
  --text-preset-8-letter-spacing: 1.75px;
 
  /* Text Preset 9 */
  --text-preset-9-font-size: 26px;
  --text-preset-9-letter-spacing: 0.75px;
 
  /* Text Preset 10 */
  --text-preset-10-font-size: 24px;
  --text-preset-10-letter-spacing: 0.75px;
 
  /* Text Preset 11 */
  --text-preset-11-font-size: 20px;
  --text-preset-11-letter-spacing: 0.75px;
 
  /* Text Preset 12 */
  --text-preset-12-font-size: 16px;
  --text-preset-12-letter-spacing: 0.75px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  background-image: url('assets/background-mobile.svg');
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}



.start-game-screen {
  margin: auto;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: var(--gradient-1);
  box-shadow: 
    inset 0 -8px 0px 4px #140E66,
    inset 0 6px 0px 8px #2463FF;
  border-radius: var(--radius-48);
  padding-bottom: 64px;
  padding-top: 138px;

}
.hangman-logo {
  width: 80%;
  position: absolute;
  top: 0;
   transform: translate(-50%,-40%); 
}
.play {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-full);
  background-image: var(--gradient-3);
  box-shadow: 
    inset 0 -4px 0px 5px #243041,
    inset 0 -12px 0px 11px #9D2DF5;
}

.play-icon {
  width: 40%;
}

.play-info {
  width: 80%;
  margin-top: 57px;
  background-color: var(--blue-600);
  color: var(--neutral-0);
  padding: 12px 64px;
  border-radius: var(--radius-40);
  font-size: var(--text-preset-8-font-size);
  letter-spacing: var(--text-preset-8-letter-spacing);
  box-shadow: 
    inset 0 -2px 0px 3px #140E66,
    inset 0 1px 0px 6px #3C74FF;

}
.hidden {
  display: none;
}
/* steps screen */
.steps-screen {
  padding-top: 32px;
  padding-bottom: 60px;
}
.steps-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-container {
  width: 40px;
  height: 40px;
  background-image: var(--gradient-3);
  display: flex;
  justify-content: center;
  border-radius: var(--radius-full);
}

.back-icon {
  width: 50%;
}

.how-to-play-title {
  font-size: var(--text-preset-6-font-size); 
  line-height: 1.4;
  letter-spacing: var(--text-preset-6-letter-spacing);
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px var(--slate-600); 
  background-clip: text;
  color: transparent;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 80px;
}

.step-card {
  background-color: var(--neutral-0);
  padding: 32px;
  border-radius: var(--radius-20);
}

.step-header {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: var(--text-preset-10-font-size);
  letter-spacing: var(--text-preset-10-letter-spacing);
}

.step-number {
  color: var(--blue-600);
}

.step-title {
   color: var(--indigo-600);
}

.step-description {
  color: var(--indigo-400);
  font-size: var(--text-preset-12-font-size);
  letter-spacing: var(--text-preset-12-letter-spacing);
}



