:root {
  /* Neutral */
  --neutral-950: #000000;
  --neutral-0: #FFFFFF;

  /* Slate */
  --slate-950: #0B1524;
  --slate-600: #243041;

  /* Blue */
  --blue-600: #2463FF;
  --blue-500: #5B8AFF;

  /* Indigo */
  --indigo-600: #261676;
  --indigo-400: #887DC0;

  /* Gradients */
  --gradient-1: linear-gradient(180deg, #344ABA 0%, rgba(0, 20, 121, 0.80) 100%);
  --gradient-2: linear-gradient(180deg, #67B6FF -7%, #FFFFFF 108%);
  --gradient-3: linear-gradient(180deg, #FE71FE 16%, #7199FF 100%);
  --gradient-4: linear-gradient(180deg, #FF95FF 0%, #A3AEFF 100%);
  --gradient-5: linear-gradient(
                  180deg,
                  rgba(26, 4, 58, 0.75) 0%,
                  rgba(21, 18, 120, 0.75) 70%,
                  rgba(43, 22, 119, 0.75) 100%
                );
  /* Spacing */
  --spacing-0: 0;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-50: 50px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;

  /* Radius */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-48: 48px;
  --radius-72: 72px;
  --radius-96: 96px;
  --radius-full: 999px;

  /* Typography */
  --font-family-base: 'Mouse Memoirs', sans-serif;
  --line-height-base: 1.2;
 
  /* Text Preset 1 */
  --text-preset-1-font-size: 136px;
  --text-preset-1-letter-spacing: -1px;
 
  /* Text Preset 2 */
  --text-preset-2-font-size: 104px;
  --text-preset-2-letter-spacing: -1px;
 
  /* Text Preset 3 */
  --text-preset-3-font-size: 94px;
  --text-preset-3-letter-spacing: -1px;
 
  /* Text Preset 4 */
  --text-preset-4-font-size: 88px;
  --text-preset-4-letter-spacing: 0px;
 
  /* Text Preset 5 */
  --text-preset-5-font-size: 64px;
  --text-preset-5-letter-spacing: 2.5px;
 
  /* Text Preset 6 */
  --text-preset-6-font-size: 48px;
  --text-preset-6-letter-spacing: 2.5px;
 
  /* Text Preset 7 */
  --text-preset-7-font-size: 40px;
  --text-preset-7-letter-spacing: 1.75px;
 
  /* Text Preset 8 */
  --text-preset-8-font-size: 32px;
  --text-preset-8-letter-spacing: 1.75px;
 
  /* Text Preset 9 */
  --text-preset-9-font-size: 26px;
  --text-preset-9-letter-spacing: 0.75px;
 
  /* Text Preset 10 */
  --text-preset-10-font-size: 24px;
  --text-preset-10-letter-spacing: 0.75px;
 
  /* Text Preset 11 */
  --text-preset-11-font-size: 20px;
  --text-preset-11-letter-spacing: 0.75px;
 
  /* Text Preset 12 */
  --text-preset-12-font-size: 16px;
  --text-preset-12-letter-spacing: 0.75px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  background-image: 
    var(--gradient-5), 
    url('assets/background-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: min(90%, 1216px);
  margin: 0 auto;
  position: relative;
}



.start-game-screen {
  margin: auto;
  width: min(100%, 592px);
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: var(--gradient-1);
  box-shadow: 
    inset 0 -8px 0px 4px #140E66,
    inset 0 6px 0px 8px #2463FF;
  border-radius: var(--radius-48);
  padding-bottom: 64px;
  padding-top: 138px;

}

.hangman-logo {
  width: 80%;
  position: absolute;
  top: 0;
   transform: translate(-50%,-50%); 
}

.play {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-full);
  background-image: var(--gradient-3);
  transition: background-image 3ms ease;
  box-shadow: 
    inset 0 -4px 0px 5px #243041,
    inset 0 -12px 0px 11px #9D2DF5;
}

.play:hover,
.back-container:hover,
.menu:hover {
  background-image: var(--gradient-4);
}

.play-icon {
  width: 35%;
}
/* buttons */
.play-info {
  width: fit-content;
  margin-top: 57px;
  background-color: var(--blue-600);
  color: var(--neutral-0);
  padding: 12px 64px;
  border-radius: var(--radius-40);
  font-size: var(--text-preset-8-font-size);
  letter-spacing: var(--text-preset-8-letter-spacing);
  transition: background-color 3ms ease;
  box-shadow: 
    inset 0 -2px 0px 3px #140E66,
    inset 0 1px 0px 6px #3C74FF;
}

.play-info:hover,
.category-btn:hover {
  background-color: var(--blue-500);
}
.hidden {
  display: none;
}
/* steps screen */
.steps-screen,
.category-screen {
  padding-top: 32px;
  padding-bottom: 60px;
}
.steps-nav,
.category-nav {
  display: flex;
  align-items: center;
}

.back-container,
.menu {
  width: 40px;
  height: 40px;
  background-image: var(--gradient-3);
  transition: background-image 3ms ease;
  display: flex;
  justify-content: center;
  border-radius: var(--radius-full);
  box-shadow: inset 0 -5px 0 -1px rgba(157, 45, 245, 0.25);
}

.back-icon,
.menu-icon {
  width: 50%;
}

.how-to-play-title,
.category-title {
  font-size: var(--text-preset-6-font-size); 
  line-height: 1.4;
  letter-spacing: var(--text-preset-6-letter-spacing);
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px var(--slate-600); 
  background-clip: text;
  color: transparent;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 80px;
}

.step-card {
  background-color: var(--neutral-0);
  padding: 32px;
  border-radius: var(--radius-20);
}

.step-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  font-size: var(--text-preset-10-font-size);
  letter-spacing: var(--text-preset-10-letter-spacing);
}

.step-number {
  color: var(--blue-600);
}

.step-title {
   color: var(--indigo-600);
}

.step-description {
  color: var(--indigo-400);
  font-size: var(--text-preset-12-font-size);
  letter-spacing: var(--text-preset-12-letter-spacing);
}

/* category section */
.category-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 100px;
}

.category-title {
  margin-left: auto;
}

.category-btn {
  width: 100%;
  background-color: var(--blue-600);
  padding: 0 16px;
  height: 64px;
  color: var(--neutral-0);
  font-size: var(--text-preset-10-font-size);
  letter-spacing: var(--text-preset-10-letter-spacing);
  border-radius: var(--radius-20);
  transition: background-color 3ms ease;
  box-shadow: 
    inset 0 -2px 0px 3px #140E66,
    inset 0 1px 0px 6px #3C74FF;
}

/* game screen */
.game-screen {
  padding-top: 46px;
  padding-bottom: 162px;
}

.game-nav {
  display: flex;
  justify-content:  space-between;
}

.game-header,
.health-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.category-name {
  color: var(--neutral-0);
  font-size: var(--text-preset-7-font-size);
  letter-spacing: var(--text-preset-7-letter-spacing);
}

.health-bar {
  width: 57px;
  background-color: var(--neutral-0);
  border-radius: var(--radius-96);
  padding: 4px;
}

.health-line {
  background-color: var(--indigo-600);
  border-radius: var(--radius-96);
  width: 100%;
  height: 8px;
}

.heart-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.word-display {
  margin-top: 78px;
  margin-bottom: 118px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.slot,
.space {
  width: 44px;
  height: 66px;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 66px;
  border-radius: var(--radius-12);
  background-color: var(--blue-600);
  color: var(--neutral-0);
  font-size: var(--text-preset-7-font-size);
  letter-spacing: var(--text-preset-7-letter-spacing);
  box-shadow: 
    inset 0 -2px 0px 3px #140E66,
    inset 0 1px 0px 6px #3C74FF;
}

.space {
  visibility: hidden;
}


.keyboard-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 24px;
  column-gap: 8px;
}

.key {
  background-color: var(--neutral-0);
  border-radius: 8px;
  padding: 12px 10px;
  color: var(--indigo-600);
  font-size: var(--text-preset-10-font-size);
  letter-spacing: var(--text-preset-10-letter-spacing);
  transition: background-color 3ms ease,
              color 3ms ease;
}

.key:disabled {
    background-color: rgb(255 255 255 / 25%);
    cursor: not-allowed;
}

.key:hover {
  background-color: var(--blue-600);
  color: var(--neutral-0);
}

/* dialog box */
.menu-dialog,
.exhausted-dialog {
  width: min(90%, 592px);
  margin: auto;
  padding: 0;
  overflow: visible;
  border: none;
  border-radius: var(--radius-48);
  background: var(--gradient-1);
  box-shadow:
    inset 0 -8px 0px 4px #140E66,
    inset 0 6px 0px 8px #2463FF;
}

.menu-dialog::backdrop,
.exhausted-dialog::backdrop {
  background: var(--gradient-5);
}

.text-container,
.exhausted-text-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.dialog-text {
  text-align: center;
  font-size: var(--text-preset-3-font-size);
  line-height: 1.2;
  letter-spacing: var(--text-preset-3-letter-spacing);
  background: var(--gradient-2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 6px var(--slate-600);
  color: transparent;
}

.menu-options,
.exhausted-options {
  padding: 96px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.primary-action,
.new-category,
.quit-game,
.exhausted-new-category,
.exhausted-quit {
  cursor: pointer;
  width: fit-content;
  color: var(--neutral-0);
  padding: 12px 64px;
  border-radius: var(--radius-40);
  font-size: var(--text-preset-8-font-size);
  letter-spacing: var(--text-preset-8-letter-spacing);
}

.primary-action,
.new-category,
.exhausted-new-category {
  background-color: var(--blue-600);
  transition: background-color 3ms ease;
  box-shadow:
    inset 0 -2px 0px 3px #140E66,
    inset 0 1px 0px 6px #3C74FF;
}

.primary-action:hover,
.new-category:hover,
.exhausted-new-category:hover {
  background-color: var(--blue-500);
}


.quit-game,
.exhausted-quit {
  background-image: var(--gradient-3);
  box-shadow:
    inset 0 -2px 0px 3px #140E66,
    inset 0 1px 0px 6px #C642FB;
}

.quit-game:hover,
.exhausted-quit:hover {
  background-image: var(--gradient-4);
}

.exhausted-title {
  text-align: center;
  font-size: var(--text-preset-5-font-size); 
  line-height: 1.2;
  letter-spacing: var(--text-preset-5-letter-spacing);
  background: var(--gradient-2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 5px var(--slate-600);
  color: transparent;
}

.exhausted-message {
  color: var(--neutral-0);
  text-align: center;
  padding: 0 32px;
  margin-bottom: 8px;
  font-size: var(--text-preset-9-font-size);
  letter-spacing: var(--text-preset-9-letter-spacing);
}
/* tablet styles */
@media (min-width: 768px) {
   body {
    background-image: 
      var(--gradient-5), 
      url('assets/background-tablet.svg');
   }
   
   .start-game-screen {
    padding-top: 128px;
    border-radius: var(--radius-72);
   }

   .hangman-logo {
    width: 60%;
   }

   .play {
    width: 200px;
    height: 200px;
   }

     /* steps screen */
  .step-card {
    position: relative;
    padding-left: 140px;
  }

  .step-number {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--text-preset-4-font-size);
    letter-spacing: var(--text-preset-4-letter-spacing);
  }

  .step-title {
   font-size: var(--text-preset-7-font-size);
   letter-spacing: var(--text-preset-7-letter-spacing);
  }

  .step-description {
    font-size: var(--text-preset-11-font-size);
    letter-spacing: var(--text-preset-11-letter-spacing);
  }

  .back-container ,
  .menu {
    width: 64px;
    height: 64px;
  }

  .steps-nav,
  .category-nav {
    gap: 10%;
  }

   /* category screen */
   .category-title,
   .how-to-play-title {
    margin: 0;
    font-size: var(--text-preset-2-font-size);
    letter-spacing: var(--text-preset-2-letter-spacing);
   }

    .category-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      gap: 32px;
  }

  .category-btn {
    height: 176px;
    border-radius: var(--radius-40);
    font-size: var(--text-preset-6-font-size);
    letter-spacing: var(--text-preset-6-letter-spacing);
  }

  /* game screen */
  .game-header,
  .health-container {
    gap: 32px;
  }

  .category-name {
    font-size: var(--text-preset-6-font-size);
    letter-spacing: var(--text-preset-6-letter-spacing);
  }

  .health-bar {
    width: 160px;
    padding: 9px;
  }

   .health-line {
    height: 12px;
  }

  .heart-icon {
    width: 54px;
    height: 48px;
  }

  .word-display {
    margin-top: 112px;
    margin-bottom: 134px;
  }

  .slot,
  .space {
    width: 88px;
    height: 112px;
  }

  .slot {
    font-size: var(--text-preset-5-font-size);
    letter-spacing: var(--text-preset-5-letter-spacing);
    border-radius: var(--radius-32);
  }

  .key {
    border-radius: var(--radius-24);
    font-size: var(--text-preset-6-font-size);
    letter-spacing: var(--text-preset-6-letter-spacing);
  }

  /* dialog screen */
  .menu-dialog,
  .exhausted-dialog {
    border-radius: var(--radius-72);
  }
  .dialog-text,
  .exhausted-text {
    font-size: var(--text-preset-1-font-size);
    letter-spacing: var(--text-preset-1-letter-spacing);
  }
} 

/* desktop styles */
@media (min-width: 1024px) {
  body {
    background-image: 
      var(--gradient-5), 
      url('assets/background-desktop.svg');
  }

  .hangman-logo {
    min-width: 356px;
  }

     /* steps screen */
  .how-to-play {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .step-card {
    padding: 200px 32px 60px 32px;
  }

  .step-number {
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
  }

  .step-header {
    margin-bottom: 40px;
  }

  .step-title {
   margin: 0 auto;
   font-size: var(--text-preset-6-font-size);
   letter-spacing: var(--text-preset-6-letter-spacing);
  }

  .step-description {
    text-align: center;
    font-size: var(--text-preset-9-font-size);
    letter-spacing: var(--text-preset-9-letter-spacing);
  }

  .steps-nav,
  .category-nav {
    gap: 20%;
  }


  /* category screen */
  .category-title,
  .how-to-play-title {
    font-size: var(--text-preset-1-font-size);
    letter-spacing: var(--text-preset-1-letter-spacing);
   }

    .category-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 1216px;
    margin-inline: auto;
  }

  .category-btn {
    height: 200px;           
  }

    /* game screen */
  .game-header {
    gap: 56px;
  }

  .health-container {
    gap: 40px;
  }

  .category-name {
    font-size: var(--text-preset-4-font-size);
    letter-spacing: var(--text-preset-4-letter-spacing);
  }

  .health-bar {
    width: 240px;
  }

  .word-display {
    margin-top: 88px;
    margin-bottom: 120px;
  }

  .slot,
  .space {
    width: 112px;
    height: 128px;
  }

  .slot {
    font-size: var(--text-preset-4-font-size);
    letter-spacing: var(--text-preset-4-letter-spacing);
    border-radius: var(--radius-40);
  }
}